
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

.navbar{
    background-color: hsl(219, 84%, 42%);
    background-image: radial-gradient(650px circle at 0% 0%,
      hsl(219, 67%, 41%) 15%,
      hsl(218, 79%, 40%) 35%,
      hsl(219, 64%, 38%) 75%,
      hsl(218, 73%, 35%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 63%, 48%) 15%,
      hsl(218, 58%, 39%) 35%,
      hsl(219, 50%, 41%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

.btn-primary{
    border-radius: 20px;
    background-color: hsl(218, 41%, 35%);
}
.btn-link{
    color: black;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
.form-label a{
    color: black;
}

.bgg{
 background-color: hsl(219, 84%, 42%);
    background-image: radial-gradient(650px circle at 0% 0%,
      hsl(219, 67%, 41%) 15%,
      hsl(218, 79%, 40%) 35%,
      hsl(219, 64%, 38%) 75%,
      hsl(218, 73%, 35%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 63%, 48%) 15%,
      hsl(218, 58%, 39%) 35%,
      hsl(219, 50%, 41%) 75%,
      hsl(218, 64%, 41%) 80%,
      transparent 100%);  
}