<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/5year.css">
    <link href="../../static/img/Group 130.png" rel="icon" />
    <title>Emergency</title>
</head>

<body>
    <div class="header">
        <div class="nav">
            <div class="left-nav">
                <img class="logo" src="../static/img/Group 130.png" alt="logo">
                <ul class="nav-btn ulcontent">
                    <li>
                        <div class="home-outline"><a class="nav-item" href="/">Home</a></div>
                    </li>
                    <li>
                        <div class="about-outline"><a class="nav-item" href="/about">About</a></div>
                    </li>
                    <li class="dropdown">
                        <div class="services-outline"><a class="nav-item" href="#" style="color: black;">Services
                                &#9662;</a></div>
                        <div class="dropdown-content">
                            <a href="/emergency">Emergency</a>
                            <a href="/symptom">Symptom &rArr; Disease &rArr; Medicine</a>
                            <a href="" onclick="login()">Disease &rArr; Medicine</a>
                            <a href="" onclick="login()">Disease &rArr; Symptoms</a>
                            <a href="/bmi"> Calculate BMI</a>
                            <a href="/precaution"> Precaution</a>
                            <!-- Add more service links here -->
                        </div>
                    </li>
                    <li>
                        <div class="contact-outline"><a class="nav-item" href="/contact">Contact</a></div>
                    </li>
                </ul>
            </div>
            <div class="right-nav">
                <ul class="log">
                    <li>
                        <div class="login-outline"><a class="login-signup" href="/login">Log in</a></div>
                    </li>
                    <li>
                        <div class="signup-outline"><a class="login-signup" href="/signup">Sign Up</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="body">
            <div class="outer-box">
                <div class="outer-left">
                    <div class="container">
                        <button id="open-popup1" type="button" class="d-btn1">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    PNEUMONIA
                                    OR VERY
                                    SEVERE DISEASE</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Any general danger sign</li>
                                    <li>Chest indrawing</li>
                                    <li>Stridor in calm child</li>
                                </ul>
                            </div>
                        </button>
                        <div class="popup1">
                            <div class="close-btn1">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give first dose of injectable chloramphenicol (If not possible, give oral
                                    amoxicillin).</li>
                                <li><strong>Refer URGENTLY to hospital.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup2" type="button" class="d-btn2">
                            <div class="rect2 rect">
                                <h2 class="disease">
                                    PNEUMONIA </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Fast breathing. </li>
                                </ul>
                            </div>
                        </button>
                        <div class="popup2">
                            <div class="close-btn2">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give Amoxycillin for 5 days.</li>
                                <li>Soothe the throat and relieve the cough with a safe remedy if the child is 6 months
                                    or older.</li>
                                <li>Advise the mother when to return immediately.</li>
                                <li>Follow-up in 2 days.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <button id="open-popup3" type="button" class="d-btn3">
                            <div class="rect1 rect">
                                <h2 class="disease">
                                    NO PNEUMONIA:
                                    COUGH OR COLD </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>No signs of pneumonia
                                        or very severe disease. </li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup3">
                            <div class="close-btn3">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>If coughing more than 30 days, refer for assessment.</li>
                                <li>Soothe the throat and relieve the cough with a safe home remedy if the child is 6
                                    months or older.</li>
                                <li>Advise the mother when to return immediately.</li>
                                <li>Follow-up in 5 days if not improving.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup4" type="button" class="d-btn4">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    DEHYDRATION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Lethargic or unconscious</li>
                                    <li>Sunken eyes</li>
                                    <li>Not able to drink or drinking poorly</li>
                                    <li>Skin pinch goes back very slowly</li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup4">
                            <div class="close-btn4">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>If child has no other severe classification:</li>
                                <ul>
                                    <li>Give fluid for severe dehydration (Plan C).</li>
                                </ul>
                                <li>If child also has another severe classification:</li>
                                <ul>
                                    <li>Refer URGENTLY to hospital# with the mother giving frequent sips of ORS on the
                                        way. Advise the mother to continue breastfeeding.</li>
                                </ul>
                                <li>If child is 2 years or older and there is cholera in your area:</li>
                                <ul>
                                    <li>Give doxycycline for cholera.</li>
                                </ul>

                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup5" type="button" class="d-btn5">
                            <div class="rect1 rect">
                                <h2 class="disease">SOME
                                    DEHYDRATION</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Restless, irritable</li>
                                    <li>Sunken eyes</li>
                                    <li>Drinks eagerly, thirsty</li>
                                    <li>Skin pinch goes back slowly</li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup5">
                            <div class="close-btn5">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give fluid zinc supplements and food for some dehydration (Plan B).</li>
                                <li>If the child also has a severe classification:</li>
                                <ul>
                                    <li>Refer URGENTLY to hospital# with the mother giving frequent sips of ORS on the
                                        way. Advise the mother to continue breastfeeding.</li>
                                </ul>
                                <li>Advise the mother when to return immediately.</li>
                                <li>Follow-up in 5 days if not improving.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup6" type="button" class="d-btn6">
                            <div class="rect1 rect">
                                <h2 class="disease">NO
                                    DEHYDRATION</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Not enough signs to
                                        classify as some or severe
                                        dehydration. </li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup6">
                            <div class="close-btn6">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give fluid, zinc supplements, and food to treat diarrhea at home (Plan A).</li>
                                <li>Advise the mother when to return immediately.</li>
                                <li>Follow-up in 5 days if not improving.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup13" type="button" class="d-btn13">
                            <div class="rect1 rect">
                                <h2 class="disease">MALARIA</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>NO runny nose</li>
                                    <li>NO measles</li>
                                    <li>NO other cause of fever</li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup13">
                            <div class="close-btn13">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give oral antimalarials for LOW malaria risk area after making a smear</li>
                                <li>Give one dose of paracetamol in clinic for high fever (temp. 38.5°C or above)</li>
                                <li>Advise mother when to return immediately</li>
                                <li>Follow-up in 2 days</li>
                                <li>If fever is present every day for more than 7 days, refer for assessment</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup14" type="button" class="d-btn14">
                            <div class="rect1 rect">
                                <h2 class="disease">FEVER -
                                    MALARIA
                                    UNLIKELY </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Runny nose PRESENT</li>
                                    <li>Measles PRESENT</li>
                                    <li>Other cause of fever PRESENT</li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup14">
                            <div class="close-btn14">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give one dose of paracetamol in clinic for high fever (temp. 38.5°C or above)</li>
                                <li>Advise mother when to return immediately</li>
                                <li>Follow-up in 2 days if fever persists</li>
                                <li>If fever is present every day for more than 7 days, refer for assessment</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup15" type="button" class="d-btn15">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    COMPLICATED
                                    MEASLES* </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Any general danger sign</li>
                                    <li>Clouding of cornea</li>
                                    <li>Deep or extensive mouth ulcers</li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup15">
                            <div class="close-btn15">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give first dose of Vitamin A</li>
                                <li>Give first dose of injectable chloramphenicol (If not possible, give oral
                                    amoxicillin)</li>
                                <li>If clouding of the cornea or pus draining from the eye, apply tetracycline eye
                                    ointment</li>
                                <li>Refer URGENTLY to hospital #</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup16" type="button" class="d-btn16">
                            <div class="rect1 rect">
                                <h2 class="disease">MEASLES WITH
                                    EYE OR MOUTH
                                    COMPLICATIONS*</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Pus draining from the eye</li>
                                    <li>Mouth ulcers</li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup16">
                            <div class="close-btn16">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give first dose of Vitamin A</li>
                                <li>If pus draining from the eye, treat eye infection with tetracycline eye ointment
                                </li>
                                <li>If mouth ulcers, treat with gentian violet</li>
                                <li>Follow-up in 2 days</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup17" type="button" class="d-btn17">
                            <div class="rect1 rect">
                                <h2 class="disease">MEASLES </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Measles now or
                                        within the last 3
                                        months. </li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup17">
                            <div class="close-btn17">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give first dose of Vitamin A. </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="outer-right">
                    <div class="container">
                        <button id="open-popup7" type="button" class="d-btn7">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    PERSISTENT
                                    DIARRHOEA </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Dehydration present. </li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup7">
                            <div class="close-btn7">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Treat dehydration before referral unless the child has another severe
                                    classification.</li>
                                <li>Refer to hospital#.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <button id="open-popup8" type="button" class="d-btn8">
                            <div class="rect2 rect">
                                <h2 class="disease">PERSISTENT
                                    DIARRHOEA </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li> No dehydration. </li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup8">
                            <div class="close-btn8">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Advise the mother on feeding a child who has PERSISTENT DIARRHOEA.</li>
                                <li>Give a single dose of vitamin A.</li>
                                <li>Give zinc supplements daily for 14 days.</li>
                                <li>Follow-up in 5 days.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup9" type="button" class="d-btn9">
                            <div class="rect1 rect">
                                <h2 class="disease">DYSENTERY </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li> Blood in the stool. </li>



                                </ul>
                            </div>
                        </button>

                        <div class="popup9">
                            <div class="close-btn9">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Treat for 3 days with ciprofloxacin. Treat dehydration.</li>
                                <li>Give zinc supplements for 14 days.</li>
                                <li>Follow-up in 2 days.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup10" type="button" class="d-btn10">
                            <div class="rect1 rect">
                                <h2 class="disease">VERY SEVERE
                                    FEBRILE
                                    DISEASE </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Any general danger sign</li>
                                    <li>Stiff neck</li>
                                    <li>Bulging fontanelle</li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup10">
                            <div class="close-btn10">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of IM quinine after making a smear/RDT.</li>
                                <li>Give the first dose of IV or IM chloramphenicol (If not possible, give oral
                                    amoxicillin).</li>
                                <li>Treat the child to prevent low blood sugar.</li>
                                <li>Give one dose of paracetamol in the clinic for high fever (temp. 38.5°C or above).
                                </li>
                                <li>Refer URGENTLY to hospital#.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup11" type="button" class="d-btn11">
                            <div class="rect1 rect">
                                <h2 class="disease">MALARIA </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Fever (by history or feels hot or temperature 37.5°C or above). </li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup11">
                            <div class="close-btn11">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give oral antimalarials for HIGH malaria risk area after making a smear/RDT.</li>
                                <li>Give one dose of paracetamol in the clinic for high fever (temp. 38.5°C or above).
                                </li>
                                <li>Advise the mother when to return immediately.</li>
                                <li>Follow-up in 2 days.</li>
                                <li>If fever is present every day for more than 7 days, refer for assessment.</li>
                                <li>Give oral antimalarials for HIGH malaria risk area after making a smear/RDT.</li>
                                <li>Give one dose of paracetamol in the clinic for high fever (temp. 38.5°C or above).
                                </li>
                                <li>Advise the mother when to return immediately.</li>
                                <li>Follow-up in 2 days.</li>
                                <li>If fever is present every day for more than 7 days, refer for assessment.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup12" type="button" class="d-btn12">
                            <div class="rect1 rect">
                                <h2 class="disease">VERY SEVERE
                                    FEBRILE
                                    DISEASE </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Any general danger sign</li>
                                    <li>Stiff neck</li>
                                    <li>Bulging fontanelle</li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup12">
                            <div class="close-btn12">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of IM quinine after making a smear.</li>
                                <li>Give the first dose of IV or IM chloramphenicol (if not possible, give oral
                                    amoxicillin).</li>
                                <li>Treat the child to prevent low blood sugar.</li>
                                <li>Give one dose of paracetamol in the clinic for high fever (temp. 38.5°C or above).
                                </li>
                                <li>Refer URGENTLY to hospital#.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <button id="open-popup18" type="button" class="d-btn18">
                            <div class="rect1 rect">
                                <h2 class="disease">MASTOIDITIS </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Tender swelling behind the ear. </li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup18">
                            <div class="close-btn18">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give first dose of injectable chloramphenicol (If not possible, give oral
                                    amoxicillin)</li>
                                <li>Give first dose of paracetamol for pain</li>
                                <li>Refer URGENTLY to hospital#</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup19" type="button" class="d-btn19">
                            <div class="rect1 rect">
                                <h2 class="disease">ACUTE EAR
                                    INFECTION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Pus is seen draining from the ear and discharge is reported for less than 14
                                        days</li>
                                    <li>Ear pain</li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup19">
                            <div class="close-btn19">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give Amoxycillin for 5 days</li>
                                <li>Give paracetamol for pain</li>
                                <li>Dry the ear by wicking</li>
                                <li>Follow-up in 5 days</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup20" type="button" class="d-btn20">
                            <div class="rect1 rect">
                                <h2 class="disease">CHRONIC EAR
                                    INFECTION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Pus is seen draining from the
                                        ear and discharge is reported
                                        for 14 days or more. </li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup20">
                            <div class="close-btn20">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Dry the ear by wicking</li>
                                <li>Topical ciprofloxacin ear drops for 2 weeks</li>
                                <li>Follow-up in 5 days</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup21" type="button" class="d-btn21">
                            <div class="rect1 rect">
                                <h2 class="disease">NO EAR INFECTION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>No ear pain and
                                        No pus seen draining from the
                                        ear. </li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup21">
                            <div class="close-btn21">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>No additional treatment. </li>

                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    </div>
    </div>

    <div class="footer">
        <div class="top">
            <div class="top-left">
                <h3 class="connected">Get Connected with us on social networks</h3>
            </div>
            <div class="top-right">
                <ul class="media">
                    <li class="apps"><a href="https://www.facebook.com/profile.php?id=61557110111090"><img src="../static/img/facebook.svg" alt=""></a></li>
                    <li class="apps"><a href="https://youtube.com/@Symptomschecker-jc1gx?si=wsTd083cn_y8GjP3"><img src="../static/img/google.svg" alt=""></a></li>
                    <li class="apps"><a href="https://twitter.com/SymptomsC6028"><img src="../static/img/twitter.svg" alt=""></a></li>
                    <li class="apps"><a href="https://www.instagram.com/symptoms77777/"><img src="../static/img/instagram.svg" alt=""></a></li>
                    <li class="apps"><a href="https://www.linkedin.com/in/symptoms-checker-5a182a2ba/"><img src="../static/img/linkedin.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="bottom">
            <div class="box box1">
                <h3 class="company">SYMPTOMS CHECKER</h3>
                <h4 class="address">B14/10S Budhha park,<br>Kalyani 741235, west Bengal
                </h4>
            </div>
            <div class="box box2">
                <h3 class="company">USEFUL LINKS</h3>

                <a class="links" href="#">Orders</a><br>
                <a class="links" href="#">Settings</a>
            </div>
            <div class="box box3">
                <h3 class="company">CONTACT</h3>
                <h4 class="address">info@example.com <br>
                    +91 7598325876 <br>
                    +91 8753948538
                </h4>
            </div>
            <div class="box box4"></div>
        </div>
        <div class="terms">
            <ul class="policy">
                <li class="t&c"><a href="#">Privacy policy |</a></li>
                <li class="t&c"><a href="#">&nbsp;Terms of use |</a></li>
                <li class="t&c"><a href="#">&nbsp;Advertisement Policy</a></li>
            </ul>
        </div>
    </div>
    <script>document.addEventListener("DOMContentLoaded", function () {
            const numOfPopups = 21;

            // Loop through popups and attach event listeners
            for (let i = 1; i <= numOfPopups; i++) {
                const popupId = `popup${i}`;

                // Open popup event listener
                document.querySelector(`#open-${popupId}`).addEventListener("click", function () {
                    document.querySelector(`.${popupId}`).classList.add("active");
                });

                // Close popup event listener
                document.querySelector(`.${popupId} .close-btn${i}`).addEventListener("click", function () {
                    document.querySelector(`.${popupId}`).classList.remove("active");
                });
            }

        });

        function login() {
            alert("login or signup to use this service");
        }

    </script>
</body>

</html>