<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/precaution.css" />
    <link href="../../static/img/Group 130.png" rel="icon" />
    <title>About</title>
  </head>

  <body>
    <div class="header">
      <div class="nav">
        <div class="left-nav">
          <img class="logo" src="../static/img/Group 130.png" alt="logo" />
          <ul class="nav-btn ulcontent">
            <li>
              <div class="home-outline">
                <a class="nav-item" href="/">Home</a>
              </div>
            </li>
            <li>
              <div class="about-outline">
                <a class="nav-item" href="/about">About</a>
              </div>
            </li>
            <li class="dropdown">
              <div class="services-outline">
                <a class="nav-item" href="#" style="color: black"
                  >Services &#9662;</a
                >
              </div>
              <div class="dropdown-content">
                <a href="/emergency">Emergency</a>
                <a href="/symptom">Symptom &rArr; Disease &rArr; Medicine</a>
                <a href="" onclick="login()">Disease &rArr; Medicine</a>
                <a href="" onclick="login()">Disease &rArr; Symptoms</a>
                <a href="/bmi"> Calculate BMI</a>
                <a href="/precaution"> Precaution</a>
                <!-- Add more service links here -->
              </div>
            </li>
            <li>
              <div class="contact-outline">
                <a class="nav-item" href="/contact">Contact</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="right-nav">
          <ul class="log">
            <li>
              <div class="login-outline">
                <a class="login-signup" href="/login">Log in</a>
              </div>
            </li>
            <li>
              <div class="signup-outline">
                <a class="login-signup" href="/signup">Sign Up</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-body">
      <div class="about-heading">
        <h1 class="about">Precaution takes in some specific disease</h1>
      </div>
      <div class="about-box">
        <div class="about-content">
          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/grains.jpg" />
              <div class="right">
                <span class="disease">Diabetes</span>

                <span class="foods"
                  >Avoid refined sugars and high-glycemic foods; choose whole
                  grains and monitor portion sizes.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Hypothyroidism</span>

                <span class="foods"
                  >Avoid excessive intake of cruciferous vegetables like
                  broccoli, cabbage, cauliflower, and Brussels sprouts.
                </span>
              </div>
              <img class="img" src="../static/img/cauliflower.webp" />
            </div>
          </div>
          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/alcohol.jpg" />
              <div class="right">
                <span class="disease">Hypertension</span>

                <span class="foods">
                  Reduce sodium intake by avoiding processed and salty foods;
                  limit alcohol and caffeine.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Celiac Disease</span>

                <span class="foods">
                  Strictly avoid gluten-containing foods like wheat, barley, and
                  rye.
                </span>
              </div>
              <img class="img" src="../static/img/wheat.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/sodium rich food.jpg" />
              <div class="right">
                <span class="disease">Kidney Disease</span>

                <span class="foods"
                  >Limit phosphorus and potassium-rich foods; control sodium
                  intake.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease"
                  >GERD (Gastroesophageal Reflux Disease)</span
                >

                <span class="foods">
                  Avoid acidic and spicy foods; limit caffeine, chocolate, and
                  fatty foods.
                </span>
              </div>
              <img class="img" src="../static/img/choclate.jpg" />
            </div>
          </div>
          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/papaya vit d 1.jpg" />
              <div class="right">
                <span class="disease">Osteoporosis</span>

                <span class="foods">
                  Limit caffeine and alcohol; ensure adequate intake of calcium
                  and vitamin D.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Gout</span>

                <span class="foods"
                  >Limit purine-rich foods such as organ meats, shellfish, and
                  certain fish.
                </span>
              </div>
              <img class="img" src="../static/img/organ meat.jpg" />
            </div>
          </div>
          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/fruits.jpg" />
              <div class="right">
                <span class="disease">Heart Disease</span>

                <span class="foods"
                  >Reduce saturated and trans fats; increase omega-3 fatty
                  acids; focus on fruits, vegetables, whole grains, and lean
                  proteins.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Inflammatory Bowel Disease (IBD)</span>

                <span class="foods">
                  Identify trigger foods; focus on easily digestible,
                  low-residue foods during flare-ups.
                </span>
              </div>
              <img class="img" src="../static/img/watermelon.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/banana.webp" />
              <div class="right">
                <span class="disease">Gallstones</span>

                <span class="foods"
                  >Limit dietary cholesterol; include fiber-rich foods; maintain
                  a healthy weight.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Irritable Bowel Syndrome (IBS)</span>

                <span class="foods"
                  >Identify and avoid trigger foods; consider a low-FODMAP diet
                  under professional guidance.
                </span>
              </div>
              <img class="img" src="../static/img/triggered food.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/fish protein.jpg" />
              <div class="right">
                <span class="disease">Chronic Kidney Disease (CKD)</span>

                <span class="foods">
                  Adjust protein intake based on disease stage; monitor
                  phosphorus and potassium levels.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Multiple Sclerosis (MS)</span>

                <span class="foods"
                  >Consider an anti-inflammatory diet; ensure adequate vitamin D
                  intake.
                </span>
              </div>
              <img class="img" src="../static/img/jamun vit d2.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/salad.webp" />
              <div class="right">
                <span class="disease"
                  >GERD (Gastrointestinal Reflux Disease)</span
                >

                <span class="foods">
                  Avoid acidic foods and beverages; opt for smaller meals and
                  avoid lying down immediately after eating.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Hyperthyroidism</span>

                <span class="foods"
                  >Limit iodine-rich foods such as seaweed and iodized salt.
                </span>
              </div>
              <img class="img" src="../static/img/ionized salt.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/anti inflamatory.jpg" />
              <div class="right">
                <span class="disease">Rheumatoid Arthritis</span>

                <span class="foods">
                  Limit processed foods and foods high in saturated fats;
                  consider an anti-inflammatory diet.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Epilepsy</span>

                <span class="foods"
                  >Identify and avoid potential trigger foods; consider a
                  ketogenic diet under medical supervision.
                </span>
              </div>
              <img class="img" src="../static/img/ketogenic food.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/cheese.jpg" />
              <div class="right">
                <span class="disease">Migraines</span>

                <span class="foods">
                  Limit potential trigger foods such as chocolate, caffeine, and
                  certain aged cheeses.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">PCOS (Polycystic Ovary Syndrome)</span>

                <span class="foods">
                  Manage insulin resistance by avoiding refined sugars and
                  processed foods.
                </span>
              </div>
              <img class="img" src="../static/img/processed foosds.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/red meat.jpg" />
              <div class="right">
                <span class="disease">Endometriosis</span>

                <span class="foods"
                  >Reduce inflammatory foods; limit red meat and high-fat dairy.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Fibromyalgia</span>

                <span class="foods"
                  >Avoid artificial sweeteners and processed foods; consider an
                  anti-inflammatory diet.</span
                >
              </div>
              <img class="img" src="../static/img/sweetners.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/santara.webp" />
              <div class="right">
                <span class="disease"
                  >COPD (Chronic Obstructive Pulmonary Disease)</span
                >

                <span class="foods">
                  Limit sodium intake to manage fluid retention.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">G6PD Deficiency</span>

                <span class="foods"
                  >Avoid foods high in fava beans and certain legumes.
                </span>
              </div>
              <img class="img" src="../static/img/beans.jpeg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/triggered food.jpg" />
              <div class="right">
                <span class="disease">Crohn's Disease</span>

                <span class="foods"
                  >Identify trigger foods; consider a low-residue or specific
                  carbohydrate diet.</span
                >
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Ulcerative Colitis</span>

                <span class="foods"
                  >Limit high-fiber foods during flare-ups; avoid trigger foods.
                </span>
              </div>
              <img class="img" src="../static/img/banana.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/nuts.jpg" />
              <div class="right">
                <span class="disease">Diverticulitis</span>

                <span class="foods">
                  Avoid nuts, seeds, and popcorn during acute episodes.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Gallbladder Disease</span>

                <span class="foods"
                  >Limit high-fat and fried foods; avoid rapid weight loss.
                </span>
              </div>
              <img class="img" src="../static/img/fried foods 1.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/dairy product.jpg" />
              <div class="right">
                <span class="disease">Eczema</span>

                <span class="foods"
                  >Identify and avoid potential trigger foods such as dairy and
                  gluten.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Psoriasis</span>

                <span class="foods"
                  >Reduce intake of red meat, processed foods, and alcohol.
                </span>
              </div>
              <img class="img" src="../static/img/red meat.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/santara.webp" />
              <div class="right">
                <span class="disease">Hemochromatosis</span>

                <span class="foods"
                  >Limit iron-rich foods and vitamin C-rich foods.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Wilson's Disease</span>

                <span class="foods"
                  >Avoid copper-rich foods such as liver and shellfish.
                </span>
              </div>
              <img class="img" src="../static/img/shellfish.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/oily foods.jpg" />
              <div class="right">
                <span class="disease">Mastocytosis</span>

                <span class="foods"
                  >Identify and avoid trigger foods that may cause allergic
                  reactions.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Lactose Intolerance</span>

                <span class="foods"
                  >Limit or avoid dairy products containing lactose.
                </span>
              </div>
              <img class="img" src="../static/img/dairy product.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/sweetners.jpg" />
              <div class="right">
                <span class="disease">Fructose Malabsorption</span>

                <span class="foods"
                  >Reduce intake of high-fructose fruits and sweeteners.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Histamine Intolerance</span>

                <span class="foods"
                  >Limit histamine-rich foods such as aged cheeses and fermented
                  foods.
                </span>
              </div>
              <img class="img" src="../static/img/cheese.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/triggered food.jpg" />
              <div class="right">
                <span class="disease">Porphyria</span>

                <span class="foods"
                  >Avoid trigger foods that may exacerbate symptoms.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Hemorrhoids</span>

                <span class="foods"
                  >Limit spicy foods and those that may cause constipation.
                </span>
              </div>
              <img class="img" src="../static/img/spicy food 2.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/sodium rich food 1.jpg" />
              <div class="right">
                <span class="disease">Peripheral Artery Disease (PAD)</span>

                <span class="foods">
                  Reduce saturated fats and sodium; manage cholesterol levels.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Osteoarthritis</span>

                <span class="foods"
                  >Maintain a healthy weight to reduce stress on joints.
                </span>
              </div>
              <img class="img" src="../static/img/carrot.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/snacks.jpg" />
              <div class="right">
                <span class="disease">Hypoglycemia</span>

                <span class="foods">
                  Avoid excessive intake of refined sugars; opt for balanced
                  meals and snacks.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Ankylosing Spondylitis</span>

                <span class="foods"
                  >Consider an anti-inflammatory diet; limit processed foods.
                </span>
              </div>
              <img class="img" src="../static/img/anti inflamatory.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/caffiene.jpg" />
              <div class="right">
                <span class="disease">Gastritis</span>

                <span class="foods"
                  >Avoid spicy, acidic, and fried foods; limit caffeine and
                  alcohol.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Pancreatitis</span>

                <span class="foods">
                  Limit high-fat and fried foods; avoid alcohol.
                </span>
              </div>
              <img class="img" src="../static/img/fried foods 1.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/certain spices.jpg" />
              <div class="right">
                <span class="disease">Trigeminal Neuralgia</span>

                <span class="foods">
                  Identify and avoid trigger foods such as certain spices.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Myasthenia Gravis</span>

                <span class="foods"
                  >Ensure a balanced diet; consider smaller, more frequent
                  meals.
                </span>
              </div>
              <img class="img" src="../static/img/salad.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/pink grapes.webp" />
              <div class="right">
                <span class="disease">Sarcoidosis</span>

                <span class="foods"
                  >Limit calcium-rich foods if hypercalcemia is present.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Ménière's Disease</span>

                <span class="foods"
                  >Reduce salt intake; avoid caffeine and alcohol.
                </span>
              </div>
              <img class="img" src="../static/img/alcohol.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/vegetables 1.jpg" />
              <div class="right">
                <span class="disease">Huntington's Disease</span>

                <span class="foods"
                  >Maintain a balanced diet; consider softer textures for
                  swallowing difficulties.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Amyotrophic Lateral Sclerosis (ALS)</span>

                <span class="foods"
                  >Optimize nutrition and consider soft-textured foods as
                  needed.</span
                >
              </div>
              <img class="img" src="../static/img/cucumber.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/choclate.jpg" />
              <div class="right">
                <span class="disease">Crohn's Disease</span>

                <span class="foods"
                  >Focus on low-fiber foods during flare-ups; consider a
                  low-residue diet; avoid trigger foods such as dairy or
                  high-fat foods.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Ulcerative Colitis</span>

                <span class="foods"
                  >Eat small, frequent meals; avoid spicy foods, caffeine, and
                  alcohol; incorporate probiotics and soluble fiber.
                </span>
              </div>
              <img class="img" src="../static/img/caffiene.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/popcorn.jpg" />
              <div class="right">
                <span class="disease">Diverticulitis</span>

                <span class="foods">
                  Initially, follow a clear liquid diet; gradually introduce
                  low-fiber foods; avoid nuts, seeds, and popcorn.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Anemia</span>

                <span class="foods"
                  >Consume iron-rich foods such as lean meats, fortified
                  cereals, beans, and leafy green vegetables; pair with vitamin
                  C-rich foods to enhance iron absorption.
                </span>
              </div>
              <img class="img" src="../static/img/santara.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/rice.jpg" />
              <div class="right">
                <span class="disease">Celiac Disease</span>

                <span class="foods"
                  >Strictly avoid gluten-containing grains such as wheat,
                  barley, and rye; opt for gluten-free alternatives such as
                  rice, quinoa, and gluten-free oats</span
                >
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Polycystic Ovary Syndrome (PCOS)</span>

                <span class="foods"
                  >Choose complex carbohydrates over refined sugars; focus on
                  lean proteins and high-fiber foods; balance macronutrients to
                  manage insulin resistance.
                </span>
              </div>
              <img class="img" src="../static/img/banana.webp" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/ajnash.webp" />
              <div class="right">
                <span class="disease">Osteoarthritis</span>

                <span class="foods">
                  Maintain a healthy weight to reduce stress on joints; include
                  anti-inflammatory foods such as fatty fish, nuts, and colorful
                  fruits and vegetables.</span
                >
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Rheumatoid Arthritis</span>

                <span class="foods"
                  >Incorporate omega-3 fatty acids from sources like fish,
                  flaxseeds, and walnuts; limit processed and fried foods;
                  consider an anti-inflammatory diet.
                </span>
              </div>
              <img class="img" src="../static/img/fried foods 1.jpg" />
            </div>
          </div>

          <div class="content">
            <div class="left-heading">
              <img class="img" src="../static/img/fatty fish.jpg" />
              <div class="right">
                <span class="disease">Depression</span>

                <span class="foods"
                  >Include mood-boosting foods such as fatty fish, whole grains,
                  leafy greens, and berries; limit processed foods and sugary
                  snacks.
                </span>
              </div>
            </div>
            <div class="right-heading">
              <div class="right">
                <span class="disease">Anxiety</span>

                <span class="foods">
                  Consume foods rich in magnesium and zinc, such as nuts, seeds,
                  legumes, and whole grains; limit caffeine and alcohol intake;
                  consider herbal teas like chamomile or valerian root.
                </span>
              </div>
              <img class="img" src="../static/img/herbal tea.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="top">
        <div class="top-left">
          <h3 class="connected">Get Connected with us on social networks</h3>
        </div>
        <div class="top-right">
          <ul class="media">
            <li class="apps">
              <a href="https://www.facebook.com/profile.php?id=61557110111090"
                ><img src="../static/img/facebook.svg" alt=""
              /></a>
            </li>
            <li class="apps">
              <a
                href="https://youtube.com/@Symptomschecker-jc1gx?si=wsTd083cn_y8GjP3"
                ><img src="../static/img/google.svg" alt=""
              /></a>
            </li>
            <li class="apps">
              <a href="https://twitter.com/SymptomsC6028"
                ><img src="../static/img/twitter.svg" alt=""
              /></a>
            </li>
            <li class="apps">
              <a href="https://www.instagram.com/symptoms77777/"
                ><img src="../static/img/instagram.svg" alt=""
              /></a>
            </li>
            <li class="apps">
              <a href="https://www.linkedin.com/in/symptoms-checker-5a182a2ba/"
                ><img src="../static/img/linkedin.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="bottom">
        <div class="box box1">
          <h3 class="company">SYMPTOMS CHECKER</h3>
          <h4 class="address">
            B14/10S Budhha park,<br />Kalyani 741235, west Bengal
          </h4>
        </div>
        <div class="box box2">
          <h3 class="company">USEFUL LINKS</h3>

          <a class="links" href="#">Orders</a><br />
          <a class="links" href="#">Settings</a>
        </div>
        <div class="box box3">
          <h3 class="company">CONTACT</h3>
          <h4 class="address">
            info@example.com <br />
            +91 7598325876 <br />
            +91 8753948538
          </h4>
        </div>
        <div class="box box4"></div>
      </div>
      <div class="terms">
        <ul class="policy">
          <li class="t&c"><a href="#">Privacy policy |</a></li>
          <li class="t&c"><a href="#">&nbsp;Terms of use |</a></li>
          <li class="t&c"><a href="#">&nbsp;Advertisement Policy</a></li>
        </ul>
      </div>
    </div>
    <script>
      function toggleAccordion(sectionNumber) {
        // Select all accordion contents and icons
        var allContents = document.querySelectorAll(".accordion-content");
        var allIcons = document.querySelectorAll(
          '.accordion-header span[id^="toggle-icon-"]'
        );

        // Determine the current state of the clicked section before any changes are made
        var content = document.querySelector(
          ".accordion-item:nth-child(" + sectionNumber + ") .accordion-content"
        );
        var isCurrentSectionOpen = content.style.display === "block";

        // Close all sections
        allContents.forEach(function (content) {
          content.style.display = "none";
        });

        // Reset all icons to '+'
        allIcons.forEach(function (icon) {
          icon.innerHTML = "+";
        });

        // If the clicked section was initially closed, open it
        if (!isCurrentSectionOpen) {
          document.querySelector(
            ".accordion-item:nth-child(" +
              sectionNumber +
              ") .accordion-content"
          ).style.display = "block";
          document.getElementById("toggle-icon-" + sectionNumber).innerHTML =
            "-";
        }
        // If it was open, the above logic already ensures it's now closed
      }
    </script>
  </body>
</html>
