<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/w_css/w_2month.css">
    <link href="../../static/img/Group 130.png" rel="icon" />
    <title>Emergency</title>
</head>

<body>
    <div class="header">
        <div class="nav">
            <div class="left-nav">
                <img class="logo" src="../../static/img/Group 130.png" alt="logo">
                <ul class="nav-btn ulcontent">
                    <li>
                        <div class="home-outline"><a class="nav-item" href="/w">Home</a></div>
                    </li>
                    <li>
                        <div class="about-outline"><a class="nav-item" href="/wabout">About</a></div>
                    </li>
                    <li class="dropdown">
                        <div class="services-outline"><a class="nav-item" href="#" style="color: black;">Services &#9662;</a></div>
                        <div class="dropdown-content">
                            <a href="/wemergency">Emergency</a>
                            <a href="/info">Symptom &rArr; Disease &rArr; Medicine</a>
                            <a href="">Disease &rArr; Medicine</a>
                            <a href="">Disease &rArr; Symptoms</a>
                            <a href="/wbmi"> Calculate BMI</a>
                            <a href="/wprecaution"> Precaution</a>
                            <!-- Add more service links here -->
                        </div>
                    </li>
                    <li>
                        <div class="contact-outline"><a class="nav-item" href="/wcontact">Contact</a></div>
                    </li>
                </ul>
            </div>
            <div class="right-nav">
                <ul class="log">
                    <li class="user-dropdown">
                        <div class="person-outline"><a class="user-nav-item" href="#" ><img src="../../static/img/person.svg" alt=""></a></div>
                        <div class="user-dropdown-content">
                            <a href=""><img src="../../static/img/edit_profile.svg" alt="">&nbsp;&nbsp;&nbsp;&nbsp;Edit Profile</a>
                            <a href="/login"><img src="../../static/img/logout.svg" alt="">&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
                            <!-- Add more service links here -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="body">
            <div class="outer-box">
                <div class="outer-left">
                    <div class="container">
                        <button id="open-popup1" type="button" class="d-btn1">
                            <div class="rect1 rect">
                                <h2 class="disease">POSSIBLE
                                    SERIOUS
                                    BACTERIAL
                                    INFECTION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Convulsions </li>
                                    <li>Fast breathing (60 breaths per minute or more) </li>
                                    <li>Severe chest indrawing </li>
                                    <li>Nasal flaring </li>
                                    <li>Grunting </li>
                                    <li>Bulging fontanelle </li>
                                    <li>10 or more skin pustules or a big boil </li>
                                    <li>If axillary temperature 37.5oC or above (or feels hot to touch) or temperature
                                        less than 35.5oC (or feels cold to touch) </li>
                                    <li>Lethargic or unconscious </li>
                                    <li>Less than normal movements.</li>
                                </ul>
                            </div>
                        </button>
                        <div class="popup1">
                            <div class="close-btn1">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of intramuscular ampicillin and gentamicin.</li>
                                <li>Treat to prevent low blood sugar.</li>
                                <li>Warm the young infant by Skin to Skin contact if the temperature is less than 36.5oC
                                    (or feels cold to touch) while arranging referral.</li>
                                <li>Advise the mother on how to keep the young infant warm on the way to the hospital.
                                </li>
                                <li>Refer URGENTLY to the hospital.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup2" type="button" class="d-btn2">
                            <div class="rect2 rect">
                                <h2 class="disease">SEVERE
                                    JAUNDICE </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Palms and soles yellow or</li>
                                    <li>Age &lt; 24 hours or</li>
                                    <li>Age 14 days or more</li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup2">
                            <div class="close-btn2">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Treat to prevent low blood sugar.</li>
                                <li>Warm the young infant by Skin to Skin contact if the temperature is less than 36.5°C (or feels cold to touch) while arranging referral.</li>
                                <li>Advise mother how to keep the young infant warm on the way to the hospital.</li>
                                <li>Refer URGENTLY to hospital.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <button id="open-popup3" type="button" class="d-btn3">
                            <div class="rect1 rect">
                                <h2 class="disease">LOW BODY
                                    TEMPERATURE</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Temperature between 35.5 - 36.40C </li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup3">
                            <div class="close-btn3">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Warm the young infant using Skin to Skin contact for one hour and REASSESS. If no improvement, refer.</li>
                                <li>Treat to prevent low blood sugar.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup4" type="button" class="d-btn4">
                            <div class="rect1 rect">
                                <h2 class="disease">SOME
                                    DEHYDRATION</h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Restless, irritable</li>
                                    <li>Sunken eyes</li>
                                    <li>Skin pinch goes back slowly</li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup4">
                            <div class="close-btn4">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>If infant also has low weight or another severe classification:
                                    <ul>
                                        <li>Give first dose of intramuscular ampicillin and gentamicin.</li>
                                        <li>Refer URGENTLY to hospital with mother giving frequent sips of ORS on the
                                            way.</li>
                                        <li>Advise mother to continue breastfeeding.</li>
                                        <li>Advise mother how to keep the young infant warm on the way to the hospital.
                                        </li>
                                    </ul>
                                </li>
                                <li>If infant does not have low weight or another severe classification:
                                    <ul>
                                        <li>Give fluids for some dehydration (Plan B).</li>
                                        <li>Advise mother when to return immediately.</li>
                                        <li>Follow up in 2 days.</li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup5" type="button" class="d-btn5">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    DYSENTERY </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Blood in the stool. </li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup5">
                            <div class="close-btn5">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of intramuscular ampicillin and gentamicin if the young infant
                                    has low weight, dehydration, or another severe classification.</li>
                                <li>Treat to prevent low blood sugar.</li>
                                <li>Advise how to keep the infant warm on the way to the hospital.</li>
                                <li>Refer to the hospital.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <button id="open-popup6" type="button" class="d-btn6">
                            <div class="rect1 rect">
                                <h2 class="disease">FEEDING
                                    PROBLEM
                                    OR
                                    LOW WEIGHT
                                    FOR AGE </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Not well attached to breast</li>
                                    <li>Not suckling effectively</li>
                                    <li>Less than 8 breastfeeds in 24 hours</li>
                                    <li>Receives other foods or drinks</li>
                                    <li>Thrush (ulcers or white patches in mouth)</li>
                                    <li>Moderately Underweight (<-2 to -3 S.D)</li>
                                    <li>Breast or nipple problems</li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup6">
                            <div class="close-btn6">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>If not well attached or not suckling effectively, teach correct positioning and
                                    attachment.</li>
                                <li>
                                    If breastfeeding less than 8 times in 24 hours:
                                    <ul>
                                        <li>Advise to increase frequency of feeding.</li>
                                    </ul>
                                </li>
                                <li>
                                    If receiving other foods or drinks, counsel mother about:
                                    <ul>
                                        <li>Breastfeeding more.</li>
                                        <li>Reducing other foods or drinks.</li>
                                        <li>Using a cup and spoon.</li>
                                    </ul>
                                </li>
                                <li>
                                    If not breastfeeding at all:
                                    <ul>
                                        <li>Advise mother about giving locally appropriate animal milk.</li>
                                        <li>Teach the mother to feed with a cup and spoon.</li>
                                    </ul>
                                </li>
                                <li>If thrush, teach the mother to treat thrush at home.</li>
                                <li>If low weight for age, teach the mother how to keep the young infant with low weight
                                    warm at home.</li>
                                <li>If breast or nipple problem, teach the mother to treat breast or nipple problems.
                                </li>
                                <li>Advise mother to give home care for the young infant.</li>
                                <li>Advise mother when to return immediately.</li>
                                <li>Follow-up any feeding problem or thrush in 2 days.</li>
                                <li>Follow-up low weight for age in 14 days.</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="outer-right">
                    <div class="container">
                        <button id="open-popup7" type="button" class="d-btn7">
                            <div class="rect1 rect">
                                <h2 class="disease">LOCAL
                                    BACTERIAL
                                    INFECTION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Umbilicus red or draining pus </li>
                                    <li>Pus discharge from ear </li>
                                    <li>Less than 10 skin pustules.</li>

                                </ul>
                            </div>
                        </button>
                        <div class="popup7">
                            <div class="close-btn7">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give oral amoxicillin for 5 days.</li>
                                <li>Teach mother to treat local infections at home.</li>
                                <li>Follow up in 2 days.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <button id="open-popup8" type="button" class="d-btn8">
                            <div class="rect2 rect">
                                <h2 class="disease">JAUNDICE </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Palms and soles not yellow </li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup8">
                            <div class="close-btn8">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Advise mother to give home care for the young infant.</li>
                                <li>Advise mother when to return immediately.</li>
                                <li>Follow up in 2 days.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup9" type="button" class="d-btn9">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    DEHYDRATION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Lethargic or unconscious</li>
                                    <li>Sunken eyes</li>
                                    <li>Skin pinch goes back very slowly</li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup9">
                            <div class="close-btn9">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of intramuscular ampicillin and gentamicin.</li>
                                <li>
                                    If infant also has low weight or another severe classification:
                                    <ul>
                                        <li>Refer URGENTLY to hospital with mother giving frequent sips of ORS on the way.</li>
                                        <li>Advise mother to continue breastfeeding.</li>
                                        <li>Advise mother how to keep the young infant warm on the way to the hospital.</li>
                                    </ul>
                                </li>
                                <li>
                                    If infant does not have low weight or any other severe classification:
                                    <ul>
                                        <li>Give fluid for severe dehydration.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup10" type="button" class="d-btn10">
                            <div class="rect1 rect">
                                <h2 class="disease">SEVERE
                                    PERSISTENT
                                    DIARRHOEA </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Diarrhoea lasting
                                        14 days or more.</li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup10">
                            <div class="close-btn10">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of intramuscular ampicillin and gentamicin if the young infant has low weight, dehydration, or another severe classification.</li>
                                <li>Treat to prevent low blood sugar.</li>
                                <li>Advise how to keep the infant warm on the way to the hospital.</li>
                                <li>Refer to hospital.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup11" type="button" class="d-btn11">
                            <div class="rect1 rect">
                                <h2 class="disease">NOT ABLE TO
                                    FEED -
                                    POSSIBLE
                                    SERIOUS
                                    BACTERIAL
                                    INFECTION
                                    OR
                                    SEVERE
                                    MALNUTRITION </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Not able to feed</li>
                                    <li>No attachment at all</li>
                                    <li>Not suckling at all</li>
                                     <li>Severely Underweight (&lt;-3 S.D)</li>


                                </ul>
                            </div>
                        </button>
                        <div class="popup11">
                            <div class="close-btn11">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Give the first dose of intramuscular ampicillin and gentamicin.</li>
                                <li>Treat to prevent low blood sugar.</li>
                                <li>Warm the young infant by Skin to Skin contact if the temperature is less than 36.5°C (or feels cold to touch) while arranging referral.</li>
                                <li>Advise mother how to keep the young infant warm on the way to the hospital.</li>
                                <li>Refer URGENTLY to hospital.</li>
                            </ul>
                        </div>
                    </div>


                    <div class="container">
                        <button id="open-popup12" type="button" class="d-btn12">
                            <div class="rect1 rect">
                                <h2 class="disease">NO FEEDING
                                    PROBLEM </h2>
                                <hr color="black">
                                <ul class="symp">
                                    <li>Not low weight for age
                                        (≥ -2SD) and no other signs of
                                        inadequate feeding. </li>


                                </ul>
                            </div>
                        </button>

                        <div class="popup12">
                            <div class="close-btn12">&times;</div>
                            <h1>IDENTIFY TREATMENT</h1>
                            <hr color="black">
                            <ul>
                                <li>Advise mother to give home care for the young infant.</li>
                                <li>Advise mother when to return immediately.</li>
                                <li>Praise the mother for feeding the infant well.</li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    </div>
    </div>

    <div class="footer">
        <div class="top">
            <div class="top-left">
                <h3 class="connected">Get Connected with us on social networks</h3>
            </div>
            <div class="top-right">
                <ul class="media">
                    <li class="apps"><a href="https://www.facebook.com/profile.php?id=61557110111090"><img src="../../static/img/facebook.svg" alt=""></a></li>
                    <li class="apps"><a href="https://youtube.com/@Symptomschecker-jc1gx?si=wsTd083cn_y8GjP3"><img src="../../static/img/google.svg" alt=""></a></li>
                    <li class="apps"><a href="https://twitter.com/SymptomsC6028"><img src="../../static/img/twitter.svg" alt=""></a></li>
                    <li class="apps"><a href="https://www.instagram.com/symptoms77777/"><img src="../../static/img/instagram.svg" alt=""></a></li>
                    <li class="apps"><a href="https://www.linkedin.com/in/symptoms-checker-5a182a2ba/"><img src="../../static/img/linkedin.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="bottom">
            <div class="box box1">
                <h3 class="company">SYMPTOMS CHECKER</h3>
                <h4 class="address">B14/10S Budhha park,<br>Kalyani 741235, west Bengal
                </h4>
            </div>
            <div class="box box2">
                <h3 class="company">USEFUL LINKS</h3>

                <a class="links" href="#">Orders</a><br>
                <a class="links" href="#">Settings</a>
            </div>
            <div class="box box3">
                <h3 class="company">CONTACT</h3>
                <h4 class="address">info@example.com <br>
                    +91 7598325876 <br>
                    +91 8753948538
                </h4>
            </div>
            <div class="box box4"></div>
        </div>
        <div class="terms">
            <ul class="policy">
                <li class="t&c"><a href="#">Privacy policy |</a></li>
                <li class="t&c"><a href="#">&nbsp;Terms of use |</a></li>
                <li class="t&c"><a href="#">&nbsp;Advertisement Policy</a></li>
            </ul>
        </div>
    </div>
    <script>
        document.querySelector("#open-popup1").addEventListener("click", function(){
    document.querySelector(".popup1").classList.add("active");
});

document.querySelector(".popup1 .close-btn1").addEventListener("click", function(){
    document.querySelector(".popup1").classList.remove("active");
});


document.querySelector("#open-popup2").addEventListener("click", function(){
    document.querySelector(".popup2").classList.add("active");
});

document.querySelector(".popup2 .close-btn2").addEventListener("click", function(){
    document.querySelector(".popup2").classList.remove("active");
});
document.querySelector("#open-popup3").addEventListener("click", function(){
    document.querySelector(".popup3").classList.add("active");
});

document.querySelector(".popup3 .close-btn3").addEventListener("click", function(){
    document.querySelector(".popup3").classList.remove("active");
});

document.querySelector("#open-popup4").addEventListener("click", function(){
    document.querySelector(".popup4").classList.add("active");
});

document.querySelector(".popup4 .close-btn4").addEventListener("click", function(){
    document.querySelector(".popup4").classList.remove("active");
});


document.querySelector("#open-popup5").addEventListener("click", function(){
    document.querySelector(".popup5").classList.add("active");
});

document.querySelector(".popup5 .close-btn5").addEventListener("click", function(){
    document.querySelector(".popup5").classList.remove("active");
});



document.querySelector("#open-popup6").addEventListener("click", function(){
    document.querySelector(".popup6").classList.add("active");
});

document.querySelector(".popup6 .close-btn6").addEventListener("click", function(){
    document.querySelector(".popup6").classList.remove("active");
});
document.querySelector("#open-popup7").addEventListener("click", function(){
    document.querySelector(".popup7").classList.add("active");
});

document.querySelector(".popup7 .close-btn7").addEventListener("click", function(){
    document.querySelector(".popup7").classList.remove("active");
});
document.querySelector("#open-popup8").addEventListener("click", function(){
    document.querySelector(".popup8").classList.add("active");
});

document.querySelector(".popup8 .close-btn8").addEventListener("click", function(){
    document.querySelector(".popup8").classList.remove("active");
});
document.querySelector("#open-popup9").addEventListener("click", function(){
    document.querySelector(".popup9").classList.add("active");
});

document.querySelector(".popup9 .close-btn9").addEventListener("click", function(){
    document.querySelector(".popup9").classList.remove("active");
});

document.querySelector("#open-popup10").addEventListener("click", function(){
    document.querySelector(".popup10").classList.add("active");
});

document.querySelector(".popup10 .close-btn10").addEventListener("click", function(){
    document.querySelector(".popup10").classList.remove("active");
});

document.querySelector("#open-popup11").addEventListener("click", function(){
    document.querySelector(".popup11").classList.add("active");
});

document.querySelector(".popup11 .close-btn11").addEventListener("click", function(){
    document.querySelector(".popup11").classList.remove("active");
});

document.querySelector("#open-popup12").addEventListener("click", function(){
    document.querySelector(".popup12").classList.add("active");
});

document.querySelector(".popup12 .close-btn12").addEventListener("click", function(){
    document.querySelector(".popup12").classList.remove("active");
});



    </script>
</body>

</html>
